<div class="container-xxl">
    <div class="row justify-content-center">
        <div class="search col-4">
            <input type="text" placeholder="Search To Do">
            <mat-icon class="search-icon">search</mat-icon>
        </div>
        <div class="col-3">
            <button class="btn btn-primary" (click)="addTodo('add')">Add Todo</button>
            <button class="btn btn-primary" (click)="getDivHeights()">get height</button>
        </div>
    </div>

    <!-- <div class="row align-items-start justify-content-center">
        <div class="todo-divtainer">
            <div #divElement class="todo" *ngFor="let item of TodoArr; let i = index" style="margin: 16px;" [style.transform]="item.transform">
                <div class="todo-title d-flex justify-content-between align-items-center">
                    <span>{{item.title}}</span>
                    <span (click)="addTodo('edit')"><mat-icon>remove_red_eye</mat-icon></span>
                </div>
                <div class="checkbox-list">
                    <span *ngFor="let citem of item.tasks"><mat-checkbox>{{citem.task}}</mat-checkbox></span>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div *ngFor="let row of TodoArr">
        <div class="row align-items-start justify-content-center">
            <div class="todo-divtainer">
                <div #divElement class="todo" style="margin: 16px;" [style.transform]="row[0].transform">
                    <div class="todo-title d-flex justify-content-between align-items-center">
                        <span>{{row[0].title}}</span>
                        <span (click)="addTodo('edit')"><mat-icon>remove_red_eye</mat-icon></span>
                    </div>
                    <div class="checkbox-list">
                        <span *ngFor="let item of row; let i = index"><mat-checkbox *ngIf="i != 0">{{item.task}}</mat-checkbox></span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div *ngFor="let row of Matrix; let pi = index;">
        <div class="row align-items-start justify-content-center">
            <div class="todo-divtainer">
                <div #divElement class="todo" *ngFor="let col of row;let ci= index;"  style="margin: 16px;" [style.transform]="col[0].transform">
                    <div class="todo-title d-flex justify-content-between align-items-center">
                        <span>{{row[pi][0].title}}</span>
                        <span (click)="addTodo('edit')"><mat-icon>remove_red_eye</mat-icon></span>
                    </div>
                    <div class="checkbox-list">
                        <span *ngFor="let item of col; let i = index"><mat-checkbox *ngIf="i != 0">{{item.task}}</mat-checkbox></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>