<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="menu-item">My App</span>

        <span class="example-spacer"></span>
        <span class="menu-item" routerLink="todolistc">Todo-listc</span>
        <span class="menu-item" routerLink="todolist">Todo-list</span>
        <span class="menu-item" routerLink="userdeptwise">user-dept</span>
        <span class="menu-item" routerLink="gstutlilization">gst-uti</span>
        <span class="menu-item" routerLink="suppbill">Supp-Bill</span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</p>

<router-outlet />