:host {
  display: block;
}

.epic-col12 {
  /* background-color: #f8f9fa; */
  width: 100%;
  background-color: #f8f9fa;
}

.search {
  position: relative;
}

.search input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid gray;
}

.search .search-icon {
  font-size: 24px;
  position: absolute;
  top: 11px;
  right: 26px;
}

.todo-divtainer {
  height: 100vw;

  .todo-head {
    position: relative;
    right: 16px;
  }

  .todo {
    position: absolute;
    margin: 16px;
    width: 240px;
    max-height: 461px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #e9ecef;
    box-shadow: 9px 9px 11px #c6c9cb, -9px -9px 11px #ffffff;
    height: fit-content;
    transition: transform 0.5s ease-in-out;

    .todo-title {
      font-size: 24px;
      padding: 12px 15px;
      border-bottom: 1px solid #ffd400;
      background: #fff6cc;
    }

    .checkbox-list {
      display: flex;
      flex-direction: column;
      padding: 0px 6px 5px 6px;
      background: #fffae5;
      row-gap: 5px;

      .checkbox-value-tick {
        display: flex;
        align-items: center;
        column-gap: 3px;
      }

      .checkbox-value {
        overflow: hidden;
        max-height: 55px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }
    }
  }
}
